<div id="write">
<%= form_tag '/posts/update', method: 'put' do %>
    <input type="hidden" name="id" value="<%=@post.id%>">
    <div><input type="text" name="name" class="new_input" placeholder="Name" value="<%= @post.name %>"></div>
    <div><input type="text" name="title" class="new_input" placeholder="Title" value="<%= @post.title %>"></div>
    <div><textarea name="content" class="new_input new_textarea" placeholder="Content"><%= @post.content %></textarea></div>
    <div><input type="submit" class="new_input new_submit" value="확인"></div>
<% end %>
</div>